// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Alata|Montserrat&display=swap');

//Variables
@hover-color: crimson;
@highlight-color: rgb(238, 236, 236);
@tablet: 800px;
@mobile: 500px;
@background: lightgray;
@buttonbg: slategray;
@h1size: 3rem;
@h2size: 2.5rem;
@h3size: 2rem;

//Mixins
.headingfont {
	font-family: 'Alata', sans-serif;
	font-weight: bold;
	color: midnightblue;
}
.regfont {
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 1.6rem;
	line-height: 1.5;
}
.rowflex{
	display: flex;
	justify-content: space-between;
}
.columnflex{
	display: flex;
	flex-direction: column;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	max-width: 100%;
}

html, body {
	height: 100%;
	font-size: 62.5%;
}

// Code Begins Here

body{
	width: 90%;
	margin: auto;
}

p, a, table, button, ul{
	.regfont();
}

//Header Styles
header{
	nav{
		display: flex;
		justify-content: flex-end;

		a{
			margin: 2% 0% 2% 5%;
			text-decoration: none;
			font-weight: bold;

			&:hover{
				color: @hover-color;
			}//this closes hover a

		}//this closes a

		@media (max-width : @mobile){
			.columnflex();
			align-items: center;
			background-color: @background;
			margin: 0;
			margin-bottom: 2%;
			

		}//this closes media nav

	}//this closes nav

	.about{
		background-color: @highlight-color;
		padding: 5% 2% ;
		.columnflex();
		
		.profile{
			border-bottom: 1px solid darkgray;
			
			.profile-pic{
				width: 30%;
				
				@media (max-width: @mobile){
					width: 50%;
				}//this ends media profile-pic
	
			}//this ends profile pic
	
			h1{
				.headingfont();
				font-size: @h1size;
				margin: 2% 0;
			}// this ends h1
	
			h3{
				.headingfont();
				font-size: @h3size;
				margin-bottom: 2%;
			}// this closes h3

			@media (max-width: @mobile){
				.columnflex();
				align-items: center;
			}

		}//this closes profile
		
		.info{
			margin: 0;
			padding: 2% 0 0 0;

			button{
				.headingfont();
				font-size: @h3size;
				background-color: @buttonbg;
				color: white;
				border-radius: 5px;
				padding: 1%;
				margin: 2% 0 0 0;
			}//this closes button

		}//this closes info

		@media (max-width: @mobile){
			align-items: center;
			text-align: center;
		}//this closes media about

	}//this closes about


}//this closes header
